<div class="row">
    <div class="col">
        <h1>Welcome, @ViewBag.Username</h1>
    </div>
    <div class="col">
        <span>Current Balance: $@ViewBag.Balance</span>
    </div>
</div><br>
<div class="row">
    <form action="/account/transaction" method="POST">
        <div class="col">
            <span>Deposit/Withdraw: </span><input type="number" min="-1000" max="1000" name="transaction" value="100">
        </div>
        <div class="col">
            <button class="btn-success" type="sumbit">Submit</button>
        </div>
    </form>
    
</div><span>   @TempData["Insufficientfunds"]</span>
<div class="row">
    <table>
        <div class="row">
            <thead>
                <div class="col">
                    <th>Amount</th>
                </div>
                <div class="col">
                    <th>Date</th>
                </div>
            </thead>
        </div>
        <tbody>
            @foreach(var item in @ViewBag.Ledger)
            {
            <tr>
                <td>$@item.transaction</td>
                <td>@item.created_at.ToString("MMM dd yyyy")</td>
            </tr>
            }
        </tbody>
    </table>
</div>