@model BankAccounts.Models.RegisterViewModel
<div class="row">
    <div class="col">
        <h1>Register</h1>
    </div>
</div>
<form asp-controller="Home" asp-action="register" method="POST">
    <div class="row">
        <div class="col">
            <span>First Name</span>
        </div>
        <div class="col">
            <input type="text" name="first_name"><span asp-validation-for="first_name"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Last Name</span>
        </div>
        <div class="col">
            <input type="text" name="last_name"><span asp-validation-for="last_name"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Email Address</span>
        </div>
        <div class="col">
            <input type="email" name="email"><span asp-validation-for="email">@TempData["emailused"]</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Password</span>
        </div>
        <div class="col">
            <input type="password" name="password"><span asp-validation-for="password"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Confirm Password</span>
        </div>
        <div class="col">
            <input type="password" name="confirmpassword"><span asp-validation-for="confirmpassword"></span>
        </div>
        <div class="col">
            <a href="/login">Already Registered?</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
